{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">

        🌍 ConnectHub Feed

    </h2>

    {% for post in posts %}

    <div class="card shadow mb-4">

        <div class="card-body">

            <h5>

                {{ post.user.first_name }}
                {{ post.user.last_name }}

            </h5>

            <small class="text-muted">

                @{{ post.user.username }}

            </small>

            <hr>

            <p>

                {{ post.caption }}

            </p>

            {% if post.image %}

            <img
                src="{{ post.image.url }}"
                class="img-fluid rounded">

            {% endif %}

            <hr>

            <form action="{% url 'like_post' post.id %}"
      method="POST">

    {% csrf_token %}

    <button class="btn btn-outline-danger">

        <form action="{% url 'like_post' post.id %}" method="POST">

    {% csrf_token %}

    <button class="btn btn-light border-0 fs-4">

        {% if user in post.likes.all %}

            <span style="color:red;">❤️</span>

        {% else %}

            <span style="color:gray;">🤍</span>

        {% endif %}

        {{ post.total_likes }}

    </button>

</form>
    </button>

</form>
        </div>

    </div>

    {% empty %}

    <div class="alert alert-info">

        No Posts Yet.

    </div>

    {% endfor %}

</div>

{% endblock %}