{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
    {% endif %}

    <div class="card shadow-lg p-4">

        <h2 class="text-center">
            My Profile
        </h2>

        <hr>

        <p><strong>Username:</strong> {{ request.user.username }}</p>

        <p><strong>Email:</strong> {{ request.user.email }}</p>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-success">
                Update Profile
            </button>

        </form>

    </div>

</div>

{% endblock %}